<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
    <title>ArqueoMax | Blog</title>
    <script src="https://kit.fontawesome.com/52f76aa58c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--Header - menu-->
    <header>
        <div class="header-content">

            <div class="logo">
                <h1>Arqueo<b>Max</b></h1>
            </div>

            <div class="menu" id="show-menu">
                <nav>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-house"></i>Inicio</a></li>
                        <li><a href="#"><i class="fa-solid fa-newspaper"></i>Temas</a></li>
                        <li class="menu-selected"><a href="#" class="text-menu-selected"><i
                                    class="fa-solid fa-blog"></i>Blog</a></li>
                        <li><a href="#"><i class="fa-solid fa-address-card"></i>Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="icon-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <!--Portada -->

    <div class="container-all" id="move-content"> 


        <div class="container-cover">
            <div class="container-info-cover">
                <h1>Arqueo y ocio</h1>
                <p> <b>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, mollitia? Cupiditate deleniti
                        modi
                        dolores, doloribus praesentium iure saepe sapiente nisi nostrum temporibus aut sequi
                        provident.</b>
                </p>
            </div>
        </div>

        <div class="container-content">
            <article>
                <h1>Titulo del articulo</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laudantium, tempora neque quis itaque
                    explicabo, saepe officia alias officiis quibusdam delectus earum odit eius, expedita quae incidunt
                    ullam
                    quos consectetur. Delectus sequi saepe, veritatis minus laudantium harum minima totam quasi tempora
                    tenetur eveniet veniam laboriosam molestias? Cumque, quas in. Repellat suscipit veritatis animi vel
                    esse
                    tempora rem sapiente ad minus optio quas tempore corporis necessitatibus, deserunt, iure dicta
                    mollitia,
                    exercitationem doloribus sunt quam labore. At ut atque maxime veritatis numquam iure perferendis.
                    Ipsum,
                    eveniet! Nisi in itaque autem dolores ex quae laudantium ea culpa. Eveniet ratione architecto a
                    autem
                    minima porro assumenda similique adipisci esse id illo, numquam veritatis ullam alias! Inventore
                    accusantium unde odio commodi quasi iure nemo, suscipit, esse rem dolorum veniam, corrupti
                    necessitatibus perferendis. Impedit veritatis earum eum, alias id tenetur dolore nihil consequuntur
                    assumenda repellendus error nisi blanditiis atque magnam corporis sunt ullam odio aut nesciunt
                    nostrum
                    qui unde aspernatur rerum tempora. Iusto placeat inventore ut, temporibus explicabo sunt accusantium
                    ipsam, libero quod sint rerum deleniti distinctio recusandae aliquam corporis maxime magnam deserunt
                    sit
                    odit. Error quia suscipit quod laudantium tempora veniam facilis, molestiae doloribus dolore, amet
                    sunt,
                    aliquam veritatis nesciunt itaque cumque tempore ratione sint.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corrupti fugiat placeat
                    delectus
                    eligendi necessitatibus modi ab eos fugit assumenda accusamus, nostrum totam velit aspernatur omnis
                    iste
                    ratione. Beatae nihil, quidem esse ipsum quo aperiam temporibus deleniti repellat cum aut, nobis
                    facere
                    ullam magnam dignissimos harum perferendis! Ea mollitia commodi cupiditate, quae iure repellat
                    voluptatum, quisquam omnis minima eius incidunt aut voluptatem distinctio ullam eum repudiandae
                    expedita? Doloremque voluptatibus sequi esse recusandae eveniet reprehenderit illo placeat quod
                    veniam
                    asperiores. Consequuntur maxime voluptatem debitis, in quas laboriosam non praesentium sint
                    veritatis,
                    perspiciatis quod nisi quibusdam quis nobis ratione adipisci vel est voluptatum dolorum iusto? Vel
                    at
                    deserunt earum! Laborum cumque praesentium neque ea iure ullam tempora rerum totam est quod! Sit ex
                    corrupti veniam eos laudantium maxime, maiores provident necessitatibus? Aliquam placeat, aspernatur
                    qui
                    minus blanditiis aliquid, ducimus ipsum quibusdam rerum saepe nobis inventore ipsam porro quia amet,
                    illum distinctio? Vitae.</p>

                <h1>Subtitulo del articulo</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae qui nihil tenetur exercitationem
                    earum pariatur facere minus quibusdam sapiente iusto ex veritatis, fugiat culpa numquam quaerat a
                    consectetur atque. Dolore tempora nemo eaque officiis accusamus ullam fuga laudantium quae,
                    repudiandae
                    corrupti blanditiis deserunt doloremque cum illo quod aspernatur soluta aliquid placeat harum
                    maiores ut
                    rerum id possimus. Officiis quod optio veritatis debitis animi, consequuntur laudantium facere ut et
                    ullam architecto eum? Officiis, commodi autem placeat cupiditate quis tempora ipsum molestias
                    dolorem
                    iste quae ex soluta repellendus adipisci optio tempore non ea sint sapiente sequi enim esse error
                    officia vel. Eos explicabo molestiae fugiat eveniet magni tempore? Numquam fugiat, minima nostrum
                    quaerat deleniti blanditiis tempore at molestiae, assumenda corporis dicta ipsa quis neque sint
                    dolor.
                    Culpa dolor velit molestiae quod quibusdam unde, cum esse omnis dolores quisquam pariatur minus
                    illum
                    inventore dolorum veritatis delectus explicabo maxime, corporis perferendis hic ratione aperiam!</p>

                <img src="/img/arqueologia1.jpg" alt="">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque quasi dolorem nihil eaque adipisci
                    quo
                    fugit impedit modi ad recusandae quaerat accusamus earum, fuga nam iusto. Fugiat ipsam ad quisquam
                    voluptas repellat sit accusamus maxime tenetur fuga, reiciendis est nemo, officiis consequuntur
                    aliquam
                    ab porro labore nulla explicabo, iure dolor? In quas dolore nemo, voluptatem unde nulla laborum
                    commodi
                    maiores, rerum suscipit corporis magni incidunt fugit amet sit culpa sequi assumenda mollitia, eos
                    voluptate tenetur non? At eos quis praesentium fuga rerum mollitia repellat delectus placeat. Saepe
                    obcaecati aperiam placeat ipsa eius excepturi ab voluptatibus perferendis aspernatur atque magni
                    quidem,
                    expedita nulla ipsum iure corrupti veritatis temporibus dignissimos quis iste, consequuntur totam
                    nam?
                    Repellendus facilis optio, libero totam ex est soluta debitis ipsa eaque cum aspernatur ab harum
                    asperiores?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, obcaecati neque veniam perferendis
                    nostrum exercitationem numquam vel culpa hic, sunt incidunt quam deleniti. Optio consectetur soluta
                    enim
                    quis, incidunt quo expedita itaque eveniet explicabo consequuntur necessitatibus dolorum harum,
                    ipsum
                    aut ducimus delectus, iusto omnis quidem labore fugit placeat mollitia cum aliquid. Dolorum tenetur,
                    repudiandae in ea aspernatur voluptas dolor deserunt. Odio labore hic animi repudiandae voluptatem
                    ipsa,
                    libero nemo quia? Amet est earum nisi ullam, eveniet nesciunt, illo ad fugiat libero asperiores qui
                    quae
                    quos quidem deleniti laborum reiciendis impedit. At aut ducimus voluptates eligendi. Sed et
                    doloribus
                    assumenda, obcaecati dolore, explicabo tempora sit voluptas veritatis ea blanditiis officia,
                    reiciendis
                    deleniti placeat provident corrupti illum. Alias impedit, cum a adipisci excepturi autem eos modi
                    aliquid praesentium. Rem nobis reiciendis vel?</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae non, nesciunt doloribus
                    blanditiis
                    illo, quaerat inventore explicabo quas quia vero dignissimos odit in pariatur sapiente tempore
                    culpa,
                    obcaecati iure dolore ipsum labore molestias. Tenetur laudantium omnis eum recusandae, debitis
                    laboriosam eligendi, dolorum hic sapiente minima repellendus fugiat fugit excepturi eaque.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita aspernatur asperiores magni
                    quisquam
                    labore quod. Corporis nesciunt excepturi, nostrum tempora porro officia at aliquam iste beatae
                    veniam
                    sequi fugiat adipisci ea magni eos quae hic sapiente magnam inventore doloribus ex deleniti omnis
                    mollitia? Eaque nesciunt fugit perferendis libero, quod quidem nam blanditiis impedit voluptatem
                    odit in
                    quos? Voluptates, velit eligendi.</p>
            </article>

            <div class="container-aside">

                <aside>
                    <img src="/img/arqueologia4.jpg" alt="">
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatum sapiente facilis est,
                        placeat consectetur non corrupti assumenda. Eveniet sequi hic possimus ullam natus corrupti enim
                        in
                        placeat amet eius alias fuga quos quod sint, voluptatum modi! Tempora sequi nam optio nemo ea,
                        culpa
                        perferendis laboriosam, odio, doloribus corporis quis!</p>
                    <a href="#"><button>leer más</button></a>
                </aside>

                <aside>
                    <img src="/img/arqueologia3.jpg" alt="">
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatum sapiente facilis est,
                        placeat consectetur non corrupti assumenda. Eveniet sequi hic possimus ullam natus corrupti enim
                        in
                        placeat amet eius alias fuga quos quod sint, voluptatum modi! Tempora sequi nam optio nemo ea,
                        culpa
                        perferendis laboriosam, odio, doloribus corporis quis! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Tempora voluptatem facere sequi totam sapiente corporis eaque perferendis
                        inventore.</p>

                </aside>

                <aside>
                    <img src="/img/arqueologia2.jpg" alt="">
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatum sapiente facilis est,
                        placeat consectetur non corrupti assumenda. Eveniet sequi hic possimus ullam natus corrupti enim
                        in
                        placeat amet eius alias fuga quos quod sint, voluptatum modi! Tempora sequi nam optio nemo ea,
                        culpa
                        perferendis laboriosam, odio, doloribus corporis quis!</p>
                    <a href="#"><button>leer más</button></a>
                </aside>
            </div>
        </div>
        <div class="container-footer">

            <footer>
                <div class="logo-footer">
                    <img src="/img/logo.png" alt="">
                </div>

                <div class="redes-footer">
                    <a href="https://www.facebook.com/Dr.pordioseroo" target="_blank"><i
                            class="fa-brands fa-facebook icon-redes-footer"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram icon-redes-footer"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter icon-redes-footer"></i></a>

                </div>
                <hr>
                <h4>© 2023 ArqueoMax - Todos los derechos reservados</h4>
            </footer>
        </div>

    </div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>